html, body, .container, .content {
    height: 100%;
}
 
.container, .content {
    position: relative;
}
 
.proper-content {
    padding-top: 40px; /* >= navbar height */
}
 
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* same as the footer */
}
 
.push {
    height: 50px; /* same as the footer */
}

.footer-wrapper {
    position: relative;
    height: 40px;
    margin-top: -40px;
    background-color: #f5f5f5;
}
.home
{
    margin-top: 15px;
}

.f
{
   padding-top: 10px;
}

.lead
{
    margin-top: 15px;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 0 7px 7px 0; /* Отступы вокруг картинки */
}